<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Lo Facilito.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./css/estilos_home.css">
    <link rel="stylesheet" href="./css/fonts.css">
    <link href="imagenes/favicon.ico" rel="shortcut icon" type="image/x-icon">
</head>

<body>
    <header>
        <div class="contenedor">
            <h1 class="icon-logo">Lo Facilito.com</h1>
            <span class="icon-menu" id="btn-menu"></span>
            <nav class="nav" id="nav">
                <ul class="menu">
                    <li class="menu-item">
                        <a class="menu-link select" href="/">Inicio</a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="#categorias">Categorías</a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="#about">Quiénes somos</a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="login">Ingresá</a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="registro">Registrate</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    {{{body}}}
    
    <script type="text/javascript" src="./js/index.js"></script>
</body>

</html>