<main>
        <div class="contenedor">
            <span class="imagen-anuncio">
                <img src="../imagenes/imagen.png" alt="">
            </span>
            <span class="titulo-anuncio">
                <h2>TITULO</h2>
                <p>Fecha: DD/MM/AAAA</p>
                <a href="">Contactar el anunciante</a>
            </span>
            <div class="caracteristicas">
                <hr>
                <h3>Características</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic accusamus, ut dolorem aliquam inventore odio
                    accusantium eligendi quas neque eveniet laudantium magni cum corrupti expedita quam nam pariatur consectetur
                    sunt?
                </p>
            </div>
        </div>
        <form action="">
            <h2 id="titulo-formulario">CONTACTO</h2>
            <input type="text" name="nombre" placeholder="Nombre">
            <input type="email" name="mail" id="" placeholder="E-mail">
            <input type="number" name="telefono" id="" placeholder="Teléfono o celular">
            <textarea name="mensaje" id="" cols="30" rows="10" placeholder="Escriba aquí su mensaje"></textarea>
            <input type="button" value="ENVIAR" id="boton-enviar">
        </form>
    </main>