<div class="banner">
    <img src="./imagenes/banner2.png" class="img-banner">
    <div class="contenedor">
        <h2 id="titulo-banner">La mejor forma de facilitar lo que ya no usas.</h2>
        <p id="text-banner"> Publicalo en Lo Facilito.com</p>
    </div>
</div>
<main class="contenedor">
    <div>
        <section class="categorias">
            <a name="categorias"></a>
            <h2 class="titulo-seccion">Categorias</h2>
            <div class="lista-categorias">
                <div class="lista">
                    <img class="icon-categoria" src="./imagenes/icon-casa.png" alt="">
                    <a href="#anuncio">Muebles</a>
                </div>
                <div class="lista">
                    <img class="icon-categoria" src="./imagenes/icon-libro.png" alt="">
                    <a href="#anuncio">Libros</a>
                </div>
                <div class="lista">
                    <img class="icon-categoria" src="./imagenes/icon-mascotas.png" alt="">
                    <a href="#anuncio">Mascotas</a>
                </div>
                <div class="lista">
                    <img class="icon-categoria" src="./imagenes/icon-otros.png" alt="">
                    <a href="#anuncio">Otros</a>
                </div>
            </div>
        </section>
        <a name="anuncio"></a>
        <section class="anuncio-categoria">

            <article class="info-anuncio">
                <img src="./imagenes/imagen.png" class="imag-anuncio">
                <h2 class="titulo-anuncio">Titulo 1</h2>
                <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut vestibulum magna. Quisque nibh eros, sagittis
                    vel commodo eu, lacinia id massa.</p>
                <a href="detalle" class="ver-anuncio">Ver</a>
            </article>
            <article class="info-anuncio">
                <img src="./imagenes/imagen.png" class="imag-anuncio">
                <h2 class="titulo-anuncio">Titulo 2</h2>
                <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut vestibulum magna. Quisque nibh eros, sagittis
                    vel commodo eu, lacinia id massa.</p>
                <a href="detalle" class="ver-anuncio">Ver</a>
            </article>
            <article class="info-anuncio">
                <img src="./imagenes/imagen.png" class="imag-anuncio">
                <h2 class="titulo-anuncio">Titulo 3</h2>
                <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut vestibulum magna. Quisque nibh eros, sagittis
                    vel commodo eu, lacinia id massa.</p>
                <a href="detalle" class="ver-anuncio">Ver</a>
            </article>
        </section>
        <a id="lista-anuncios" href="./lista-anuncios">Ver más</a>
    </div>
    <section class="about">
        <a name="about"></a>
        <h2 class="titulo-seccion">¿Quiénes somos?</h2>
        <p id="texto-about"> ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut vestibulum magna. Quisque nibh eros, sagittis vel commodo
            eu, lacinia id massa. Donec ultrices purus id consequat aliquet. Ut euismod varius orci sit amet aliquam. Vestibulum
            placerat, elit eget ultrices lobortis, leo est congue lacus, sodales efficitur quam lacus at nisi. Mauris eleifend
            facilisis lorem, nec porttitor nisl. Phasellus porta convallis elit vitae suscipit.</p>
    </section>
</main>
<footer>
    <div class="social">
        <a href="" class="icon-facebook"></a>
        <a href="" class="icon-gplus"></a>
        <a href="" class="icon-twitter"></a>
    </div>
    <p id="copy">&copy; Lo Facilito.com 2017 - Todos los derechos reservados</p>
</footer>