<main>
        <aside>
            <h3>CATEGORIAS</h3>
            <ul>
                <li class="iten-categoria">
                    <span class="icon-muebles"></span>
                    <a class="link-categoria" href="">Muebles</a>
                </li>
                <li class="iten-categoria">
                    <span class="icon-libro"></span>
                    <a class="link-categoria" href="">Libros</a>
                </li>
                <li class="iten-categoria">
                    <span class="icon-mascotas"></span>
                    <a class="link-categoria" href="">Mascotas</a>
                </li>
                <li class="iten-categoria">
                    <span class="icon-otros"></span>
                    <a class="link-categoria" href="">Otros</a>
                </li>
            </ul>
        </aside>
        <section>
            <!-- AQUI IRAN LAS IMAGENES DE LOS ANUNCIOS PUBLICADOS-->
        </section>
    </main>