<div class="container">
    <img src="../imagenes/hombre.png">
    <form action="/login" method="post">
        <div class="form-input">
            <h2>¡Hola! Ingresa a Lo Facilito.</h2>
            <input type="text" name="usuario" placeholder="E-mail o usuario">
            <input type="password" name="contraseña" placeholder="Clave">
            <input type="submit" value="Ingresar">
        </div>
        <a id="crear-cuenta" href="/registro">Crear cuenta</a>
    </form>
</div>