<main>
        <div class="contenedor-form">
            <h2>Regístrate</h2>
            <form class="form" action="">
                <div class="contenedor-inputs">
                    <input class="input" type="text" name="nombre" placeholder="Nombre" required>
                    <input class="input" type="text" name="apellido" placeholder="Apellido" required>
                    <input class="input" type="tel" name="telefono" placeholder="Telefono o celular" required>
                    <input class="input" type="email" name="mail" placeholder="E-mail" required>
                    <input class="input" type="password" name="clave" placeholder="Crear clave" required>
                    <input class="input-btn" type="submit" value="Regístrarme">
                    <p id="link-ingresar">¿Ya tienes una cuenta?
                        <a id="ingresar" href="./ingreso.html">Ingresa aqui</a>
                    </p>
                </div>
            </form>
        </div>
    </main>