@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	margin: 0px;
	padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Yanone Kaffeesatz', Sans-serif;
	letter-spacing: 1.5px;
}

body {
	font-family: 'Open Sans', sans-serif;
}

/*----------- Estilos del formulario de registro--------*/

.contenedor-form{
	max-width: 450px;
	height: auto;
	margin-top: 60px;
	margin: 5% auto;
	
}

h2{
	text-align: center;
	margin-bottom: 15px;
	color: #c1243f;	
}

.contenedor-inputs{
	background-color: #ffdac6;
	border-radius: 8px;
	padding:  32px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.contenedor-inputs img{
	display: block;
	margin: auto;
	width: 120px;
	height: 120px;
}

.input, .input-btn{
	background: #fff;
	padding: 8px;
	margin: 8px 0;
	border: none;
	border-bottom: solid #ffdac6 3.2px;
	transition:all 8px;
}

.input:focus{
	border-bottom: solid #c1243f 4px;
}

.input-btn{
	padding: 15px 30px;
	color: #fff;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	background: #7e0031;
	cursor: pointer;
	opacity: 1;
}
.input-btn:hover, #ingresar{
	opacity: 0.8;
}

#link-ingresar{
	width: 100%;
	margin: 7px;;
	font-size: 14px;
	text-align: center;
}

#ingresar{
	color: #57002d;
	text-decoration: none;
	opacity: 1;
}

/*----------- Responsive-----------*/

@media (min-width:1024px) {

	.nav{
	position: static;
	width: auto;	
	}

	.menu{
		display: flex;
	}

	.icon-menu{
		display: none;
	}

	.menu-link{
		background: none;
		font-size: 20px;
	}

}