@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	box-sizing: border-box;	
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Yanone Kaffeesatz', Sans-serif;
	letter-spacing: 1.5px;
}

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

/* -----------ESTILOS DEL HEADER------------*/

header{
	height: 60px;
}

header .contenedor{
	display: flex;
	justify-content: space-between;
	width: 100%;
	position: fixed;
	z-index: 100;
	background:  rgba(88, 24, 69, 0.5);
}

.icon-logo{
	color: #fff;
}

.icon-logo, .icon-menu{
	margin: 8px;
}

.icon-menu{
	display: block;
	width: 40px;
	height: 40px;
	font-size: 30px;
	background:#581845;
	color: #fff;
	text-align: center;
	line-height: 45px;
	border-radius: 5px;
	margin-left: auto;
	cursor: pointer;
}

/*---------ESTILOS DEL MENU-----------*/

.nav{
	position: absolute;
	top:60px;
	left: 0;
	width: 100%;
	left:-100%;
	transition:all 0.4s;
}

.menu{
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu-link{
	display: block;
	padding: 15px;
	text-decoration: none;
	background:#581845;
	color: #fff;
}

.menu-link:hover{
	background: white;
	color: #581845;
}

.mostrar{
	left: 0;
}

main{
	margin: auto;
	width: 99%;
}


/*-----------ESTILOS DEL DETALLE DEL ANUNCIO-------*/

img{
	padding: 3px;
	margin-top: 25px;
	width: 250px;
	
}

h3{
	font-size: 30px;
}

p {
	color: #656565;

}

a{
	text-decoration: none;
	font-size: 15px;
	color: #fff;
	background: #581845;
	padding: 5px;
}

.caracteristicas{
	padding-top: 15px;
}

/*------ ESTILOS FORMULARIO CONTCACTO-----------*/

form{
	width: 450px;
	margin: auto;
	background: rgba(193, 36, 63, 0.5);
	padding: 10px 20px;
	box-sizing: border-box;
	margin-top: 80px;
	border-radius: 7px;
	margin-bottom: 60px;
}

#titulo-formulario{
	color: #581845;
	text-align: center;
	margin: 0;
	font-size: 30px;
	margin-bottom: 20px;
}

input, textarea{
	width: 100%;
	margin-bottom: 20px;
	padding: 7px;
	box-sizing: border-box;
	font-size: 17px;
	border: none;
}

textarea{
	min-height: 100px;
	max-height: 200px;
	max-width: 100%;
}

#boton-enviar{
	background: #581845;
	color: #fff;
	padding: 15px;
	border-radius: 5px;
}

#boton-enviar:hover{
	cursor: pointer;
}



/*----------- Responsive-----------*/
@media (min-width:480px) {
	img{
		width: 400px;
		height: 300px;
		margin-top: 15px;
	}

	.caracteristicas{
		padding-top: 25px;
	}
}

@media (max-width:480px) {
	form{
		width: 100%;
	}
}


@media (min-width:768px) {
	.contenedor{
		width: 1000px;
	}

	img{
		width: 500px;
		height: 400px;
	}

	.caracteristicas{
		padding-top: 35px;
	}

	.imagen-anuncio{
		width: 500px;
		height: 500px;
		float: left;
		padding: 10px;
	}

	.titulo-anuncio{
		width: 500px;
		height: 500px;
		float: left;
		padding: 50px;
	}

}

@media (min-width:1024px) {
	.contenedor{
		width: 1200px;
	}

	img{
		width: 500px;
		height: 400px;
		margin: 5px;
		margin-left: 5px;
	}

	.caracteristicas{
		padding-top: 35px;
	}

	.imagen-anuncio{
		width: 700px;
		height: 500px;
		float: left;
		padding: 50px;
	}

	.titulo-anuncio{
		width: 500px;
		height: 500px;
		float: left;
		padding: 10px;
		margin-top: 60px;
	}
	.nav{
	position: static;
	width: auto;	
	}

	.menu{
		display: flex;
	}

	.icon-menu{
		display: none;
	}

	.menu-link{
		background: none;
		font-size: 20px;
	}
}

@media (min-width:1100px) {
	.contenedor{
		width: 1340px;
	}

	.imagen-anuncio{
		width: 800px;
		padding-left: 150px;
	}

	.titulo-anuncio{
		width: 540px;
		padding-left: 5px;
	}
}