@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	margin: 0px;
	padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Yanone Kaffeesatz', Sans-serif;
	letter-spacing: 1.5px;
}

body {
	font-family: 'Open Sans', sans-serif;
}

/* -----------ESTILOS DEL HEADER------------*/

header{
	height: 60px;
}

header .contenedor{
	display: flex;
	justify-content: space-between;
	width: 100%;
	position: fixed;
	z-index: 100;
	background:  rgba(88, 24, 69, 0.5);
}

.icon-logo{
	color: #fff;
}

.icon-logo, .icon-menu{
	margin: 8px;
}

.icon-menu{
	display: block;
	width: 40px;
	height: 40px;
	font-size: 30px;
	background:#581845;
	color: #fff;
	text-align: center;
	line-height: 45px;
	border-radius: 5px;
	margin-left: auto;
	cursor: pointer;
}

/*---------ESTILOS DEL MENU-----------*/

.nav{
	position: absolute;
	top:60px;
	left: 0;
	width: 100%;
	left:-100%;
	transition:all 0.4s;
}

.menu{
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu-link{
	display: block;
	padding: 15px;
	text-decoration: none;
	background:#581845;
	color: #fff;
}

.menu-link:hover{
	background: white;
	color: #581845;
}

.mostrar{
	left: 0;
}

/*------------ESTILOS DEL ASIDE/MENU DE CATEGORIAS--------*/
main{
	width: 1355px;
	margin-left: 5px;
	margin-right: 5px;
}

aside{
	width: 250px;
	height: 550px;
	background:#F5EEF8;
	float: left;
	color: #9f9f9f;
	font-size:20px;
}

section{
	width: 1090px;
	height: 550px;
	background: #FEF9E7;
	float: left;
	margin-left: 15px;
}

h3{
	color: #9f9f9f;
	padding: 20px;
}

li{
	text-decoration: none;
}

.iten-categoria{
	padding: 20px;
}

.link-categoria{
	text-decoration: none;
	margin-left: 20px;
	color: #581845;
	font-size: 15px;
}

.iten-categoria:hover{
	background: #E8DAEF;
}

/*----------- Responsive-----------*/

@media (min-width:1024px) {
	.contenedor{
	width: 1000px;
	}

	.nav{
	position: static;
	width: auto;	
	}

	.menu{
		display: flex;
	}

	.icon-menu{
		display: none;
	}

	.menu-link{
		background: none;
		font-size: 20px;
	}

}